@using InvestNetwork.Application.Core;
@using InvestNetwork.Core;
@model IEnumerable<Project>

@{
    ViewBag.Title = "Проекты";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

@section Styles{
}

@section Header{
    <div class="page_title">
        <div class="container">
            <div class="title">
                <h1>Откройте для себя проекты</h1>
            </div>
        </div>
    </div>
}
<div class="content_fullwidth">
    <div class="our_team_box_big">
        <h2>Начни  <strong>изучать!</strong></h2>
        @{var i = 0;}
        @foreach (Project p in Model)
        {
            i++;
            <div class="one_fourth @(i%4 == 0 ? "last" : String.Empty)">
                <div class="cont-area">
                    @Html.ProjectImage(p.ID, true, false, 210, 230, new { @class = "teammempic" })
                    <ul>
                        <li><strong>@Html.ActionLink(p.Name, "View", "Project", new { id = p.ProjectID }, new { @class="project_name" })&nbsp;<i>от автора&nbsp;&nbsp;@p.AuthorFullName</i></strong></li>
                        <li><a href="#"><i class="icon-facebook icon-large"></i></a></li>
                        <li><a href="#"><i class="icon-twitter icon-large"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus icon-large"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin icon-large"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest icon-large"></i></a></li>
                    </ul>
                </div>
                <p>@p.ShortDescription</p>
            </div>
            if (i % 4 == 0)
            {
                <div class="clearfix mar_top5"></div>
            }
                
        }
    </div>
</div>
<div class="clearfix mar_top5"></div>

@section Scripts{
}