@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

@section Styles{

}

@section Header{
    <div class="page_title">
        <div class="container">
            <div class="title">
                <h2>InvestNetwork</h2>
                <h3>Labritech 2014 г. &copy;</h3>
            </div>
        </div>
    </div>
}

@section Scripts{

}


